.App {
  text-align: center; 
  
}
h3{
  padding: 10px;
}
td {
  font-weight: bold;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

p {
  font-weight: bold;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: #ece9e9;
}
a{
  /* style={{fontFamily:'monospace',fontSize:'20px',color:'white',backgroundColor:'transparent'}} */
  font-family: cursive;
  font-size: 20px;
  color: white;
  background-color: transparent;
}
#spec {
  display: grid;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-size: cover;
}

#spec2 {
  height: 80vh;
  width: 100vh;
}

body {
  /* background: url(https://wallpapercave.com/wp/wp10292474.jpg) no-repeat; */
  /* Keep the inherited background full size. */
  background-size: cover;

  background-attachment: fixed;
  /* background-color:   #39464d; */
  /* background: linear-gradient(to right, #f2f2f2, #c7c7c7); */
  background: linear-gradient(to right,#679dc0 , #78a0bb, #246f9e);
}

#particles {
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 100;
}

.containerx {
  width: 60rem;
  height: 45rem;
  box-shadow: 0 0 1rem 0 rgba(0, 0, 0, .2);
  border-radius: 5px;
  position: relative;
  z-index: 1;
  background: inherit;
  overflow: hidden;
}

.containerx:before {
  content: "";
  position: absolute;
  background: inherit;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  box-shadow: inset 0 0 2000px rgba(255, 255, 255, .5);
  filter: blur(10px);
  margin: -20px;
}

.containery {
  width: 40rem;
  height: 30rem;
  box-shadow: 0 0 1rem 0 rgba(0, 0, 0, .2);
  border-radius: 5px;
  position: relative;
  z-index: 1;
  background: inherit;
  overflow: hidden;
}

.containery:before {
  content: "";
  position: absolute;
  background: inherit;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  box-shadow: inset 0 0 2000px rgba(255, 255, 255, .5);
  filter: blur(10px);
  margin: -20px;
}

/* .App button{
  margin-top: 20pt;
} */
#sp {
  margin-top: 20pt;
  width: 300px;
  height: 50px;
  font-size: 20px;
  /* margin-top: 20px; */
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

#sp:hover {
  opacity: 0.8;
  cursor: pointer;
}

.registration,
.login {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.registration input,
.login input {
  width: 300px;
  height: 50px;
  font-size: 20px;
  padding-left: 10px;
  margin: 5px;
}


.registration h1,
.login h1 {
  font-size: 30px;
  font-weight: bold;
  font-family: 'Courier New', Courier, monospace;
  margin: 5px;
  color: rgb(0, 0, 0);
}


.registration label,
.login label {
  font-size: 20px;
  font-weight: bold;
  font-family: 'Courier New', Courier, monospace;
  margin: 5px;
  color: rgb(0, 0, 0);
}



.cart-button {
  position: fixed;
  bottom: 100px;
  right: 20px;
  width: 70px;
  height: 70px;
  background-color: #081621;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  cursor: pointer;
  z-index: 9999;
}

.cart-button:hover {
  background-color: #ffffff;
  color: #000000;
}

.back-to-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 70px;
  height: 70px;
  background-color: #081621;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  cursor: pointer;
  z-index: 9999;
}

.back-to-top:hover {
  /* background-color: #ffffff;
  color: #000000; */
  box-shadow: 0 0 10px 5px rgba(255, 255, 255, 0.5);
}

.show-more-options-container {
  position: fixed;
  bottom: 450px;
  right: 20px;
}

.show-more-options {
  background-color:#081621; 
  color: #fff;
  padding: 20px;
  border: none;
  border-radius: 100px;
  cursor: pointer;
  z-index: 9999;
  display: flex;
  align-items: center;
  justify-content: center;
  
}
.show-more-options:hover {
   box-shadow: 0 0 10px 5px rgba(255, 255, 255, 0.5);

}

.show-more-options-menu {
  position: absolute;
  top: calc(100% + 10px);
  right: 0;
  background-color: #081621;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  border-radius: 5px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  z-index: 9999;
}

.show-more-options-menu button {
  background-color: transparent;
  color: #f0efef;
  border: none;
  padding: 10px;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
}

.show-more-options-menu button:hover {

  background-color: #FFA500;
  color: #FFF;
}

.show-more-options:focus,
.show-more-options:active {

  outline: none;
  
}

.show-more-options:focus-visible {
  outline: 2px solid #fff;
  outline-offset: 2px;
}


/* password css */

.password-container {
  position: relative;
}

.toggle-password {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  cursor: pointer;
}

#password-input {
  padding-right: 30px;
}




/* Navbar css */

.navbar {
  background-color: rgb(8, 22, 33);
  display: flex;
  align-items: center;
  
}


.navbar ul {
  list-style: none; 
  margin: 0;
  padding: 0;
}

.navbar li {
  margin: 0 10px;
}

.navbar a {
  color: #ffffff;
  text-decoration: none;
  font-size: 16px;
  padding: 10px 15px;
  border-radius: 5px;
  transition: background-color 0.3s ease-in-out;
}

.navbar a:hover {
  background-color: #FFA500;
  color: #FFF;
}


.navbar .dropdown-menu {
  background-color: #081621;
  border: none;
  box-shadow: none;
  flex-direction: column;
}

.navbar .dropdown-item {
  color: #e3dede;
  transition: background-color 0.3s ease-in-out;
  display: block;
  width: 100%;
  text-align: left;
}

.navbar .dropdown-item:hover {
  background-color: #FFA500;
  color: #FFF;
}










.btnn {
  position: relative;
  background: rgb(8, 22, 33);
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  border: none;
  letter-spacing: 0.1rem;
  font-size: 1.5rem; /* Increase the font size */
  padding: 2.2rem 7rem; /* Increase the padding for larger size */
  display: flex;
  justify-content: center; /* Center the content horizontally */
  align-items: center; /* Center the content vertically */
  transition: 0.2s;
}


.btnn:hover {
  letter-spacing: 0.2rem;
  padding: 2.2rem 7rem;
  background: var(--clr);
  color: var(--clr);
  /* box-shadow: 0 0 35px var(--clr); */
  animation: box 3s infinite;
}

.btnn::before {
  content: "";
  position: absolute;
  inset: 2px;
  background:  rgb(8, 22, 33);
}

.btnn span {
  position: relative;
  z-index: 1;
}
.btnn i {
  position: absolute;
  inset: 0;
  display: block;
}

.btnn i::before {
  content: "";
  position: absolute;
  width: 10px;
  height: 2px;
  left: 80%;
  top: -2px;
  border: 2px solid var(--clr);
  background:  rgb(8, 22, 33);
  transition: 0.2s;
}

.btnn:hover i::before {
  width: 15px;
  left: 20%;
  animation: move 3s infinite;
}

.btnn i::after {
  content: "";
  position: absolute;
  width: 10px;
  height: 2px;
  left: 20%;
  bottom: -2px;
  border: 2px solid var(--clr);
  background:  rgb(8, 22, 33);
  transition: 0.2s;
}

.btnn:hover i::after {
  width: 15px;
  left: 80%;
  animation: move 3s infinite;
}

@keyframes move {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(5px);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes box {
  0% {
    box-shadow: #27272c;
  }
  50% {
    box-shadow: 0 0 25px var(--clr);
  }
  100% {
    box-shadow: #27272c;
  }
}


/* ////////////////////////// */
.containerb {
	width: 1000px;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}
.containerb .btn {
	position: relative;
	top: 0;
	left: 0;
	width: 250px;
	height: 50px;
	margin: 0;
	display: flex;
	justify-content: center;
	align-items: center;
}
.containerb .btn a {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	background: rgba(255, 255, 255, 0.05);
	box-shadow: 0 15px 15px rgba(0, 0, 0, 0.3);
	border-bottom: 1px solid rgba(255, 255, 255, 0.1);
	border-top: 1px solid rgba(255, 255, 255, 0.1);
	border-radius: 30px;
	padding: 10px;
	letter-spacing: 1px;
	text-decoration: none;
	overflow: hidden;
	color: #fff;
	font-weight: 400px;
	z-index: 1;
	transition: 0.5s;
	backdrop-filter: blur(15px);
}
.containerb .btn:hover a {
	letter-spacing: 3px;
}
.containerb .btn a::before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 50%;
	height: 100%;
	background: linear-gradient(to left, rgba(255, 255, 255, 0.15), transparent);
	transform: skewX(45deg) translate(0);
	transition: 0.5s;
	filter: blur(0px);
}
.containerb .btn:hover a::before {
	transform: skewX(45deg) translate(200px);
}
.containerb .btn::before {
	content: "";
	position: absolute;
	left: 50%;
	transform: translatex(-50%);
	bottom: -5px;
	width: 30px;
	height: 10px;
	background: #f00;
	border-radius: 10px;
	transition: 0.5s;
	transition-delay: 0.5;
}
.containerb .btn:hover::before /*lightup button*/ {
	bottom: 0;
	height: 50%;
	width: 80%;
	border-radius: 30px;
}

.containerb .btn::after {
	content: "";
	position: absolute;
	left: 50%;
	transform: translatex(-50%);
	top: -5px;
	width: 30px;
	height: 10px;
	background: #f00;
	border-radius: 10px;
	transition: 0.5s;
	transition-delay: 0.5;
}
.containerb .btn:hover::after /*lightup button*/ {
	top: 0;
	height: 50%;
	width: 80%;
	border-radius: 30px;
}
.containerb .btn:nth-child(1)::before, /*chnage 1*/
.containerb .btn:nth-child(1)::after {
	background: #2d059f;
	box-shadow: 0 0 5px #2d059f, 0 0 15px #2d059f, 0 0 30px #2d059f,
		0 0 60px #2d059f;
}