.App { 
  text-align: center;
  
}

/* .App button{
  margin-top: 20pt;
} */
#sp{
  margin-top: 20pt;
  width:300px;
  height: 50px;
  font-size: 20px;
  /* margin-top: 20px; */
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
#sp:hover {
  opacity: 0.8;
  cursor: pointer;
}

.registration, .login {
  display: flex;
  flex-direction: column;
  width:100%;
  justify-content: center;
  align-items: center;  
}

.registration input, .login input{
  width:300px;
  height: 50px;
  font-size: 20px;
  padding-left: 10px;
  margin:5px;
}




.registration label,.login label{
  font-size: 20px;
  font-weight: bold;
  font-family: 'Courier New', Courier, monospace;
  margin:5px;
}

